<!DOCTYPE html>
<html lang="en">
    <link rel="import" href="head.html">
    <link rel="import" href="header.html">
    <body>
        
        
        <!-- start section content-->
        <section class="section-content">
            <!-- side left, its part to menu on left-->
            <div id="navside" class="side-left" data-collapse="navbar">
                <form class="form-inline search-module" action="?" method="post">
                    <div class="input-append input-append-inline">
                        <input name="search" class="input-block-level" type="text" placeholder="Type to search" />
                        <button class="btn bg-cyan" type="button">
                            <i class="aweso-search"></i>
                        </button>
                    </div>
                </form>
                <!--nav, this structure create with nav (find the bootstrap doc about .nav list) -->
                <ul class="nav nav-list">
				<li><a href="grids.html">Events JCEF</a></li>
                    <li class="dropdown-list">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown-list">Commissions</a>
                        <ul class="dropdown-menu">
                            <li><a href="layout-blank.html">Commission 1</a></li>
                            <li><a href="layout-full-width.html">Commission 2</a></li>
                            <li><a href="layout-top-menus.html">Commission 3</a></li>
                        </ul>
                    </li>
                    <li><a href="widgets.html">Trombinoscope</a></li>
                    
                </ul><!-- /nav -->
            </div><!-- /side left-->
            
            
            
            <!-- start content -->
            <div class="content">
                <!-- content header -->
                <header class="content-header">
                    <!-- content action (optional)-->
                    <ul class="content-action pull-right"></ul> <!-- /content action -->

                    <!-- content title-->
                    <div class="page-header"><h1>Dashboard</h1></div>

                    <!-- content breadcrumb -->
                    <ul class="breadcrumb breadcrumb-inline">
                        <li><a href="#">Home</a> <span class="divider"><i class="aweso-angle-right"></i></span></li>
                        <li class="active">Dashboard</li>
                    </ul>
                </header> <!--/ content header -->
                
                
                <!-- content page -->
                <article class="content-page">
                    <!-- main page, you're application here -->
                    <div class="main-page">
                        <div class="content-inner">
                           
                            
                            
                            <!-- CONTENT MANAGER & CHAT
                            ================================================== -->
                            <!-- row, content manager -->
                            <div class="row-fluid" id="row2">
                                <!-- content manager -->
                                <div class="span8">
                                    <!-- widget, content manager -->
                                    <div class="widget border-cyan" id="widget-cm">
                                        <div class="widget-header bg-cyan">
                                            <!-- widget icon -->
                                            <div class="widget-icon"><i class="aweso-comments"></i></div>
                                            <!-- widget title -->
                                            <h4 class="widget-title">Content Manager</h4>
                                            <!-- widget action, you can also use btn, btn-group, nav-tabs or nav-pills (also support dropdown). enjoy! -->
                                            <div class="widget-action color-cyan">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a data-toggle="tab" href="#posts">Posts</a></li>
                                                    <li><a data-toggle="tab" href="#comments">Comments</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="widget-content">
                                            <div class="tab-content">
                                                <!-- posts -->
                                                <div class="tab-pane fade in active" id="posts">
                                                    <table class="table" data-sorter="true"> 
                                                        <thead> 
                                                            <tr> 
                                                                <th>&nbsp;</th> 
                                                                <th>Category</th> 
																<th>Entry Name</th> 
                                                                <th>Created On</th> 
                                                                <th>Actions</th> 
                                                            </tr> 
                                                        </thead> 
                                                        <tbody> 
                                                            <tr> 
                                                                <td><input type="checkbox"></td> 
                                                                <td>TEST EVENEMENT</td> 
                                                                <td>test tes test</td> 
                                                                <td>02-07-2013</td> 
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <a class="btn" href="#" title="edit"><i class="aweso-edit"></i></a>
                                                                        <a class="btn" href="#" title="trash"><i class="aweso-trash"></i></a>
                                                                    </div>
                                                                </td> 
                                                            </tr>
                                                        </tbody> 
                                                    </table>
                                                </div><!-- /posts -->
                                                
                                               
                                                
                                            </div><!-- /tab content -->
                                        </div><!-- /widget content -->
                                    </div><!-- /widget, content manager -->
                                </div><!-- /content manager -->
                                
                               
                            
                            
                            
                           
                        </div><!-- /content-inner -->
                    </div><!-- /main-page-->
                </article> <!-- /content page -->
                
                
            </div><!--/ end content -->
        </section> <!-- /end section content-->
        
        
        <link rel="import" href="footer.html">
    </body>

</html>
