<!-- footer, I place the footer on here. -->
        <footer class="footer">
            <p>Copyright &copy; JCEF 2015. All Right Reserved.</p>
        </footer><!--/ footer -->
        
        
        
        <!-- javascript
        ================================================== -->
        <!-- required js -->
        <script type="text/javascript" src="../CSS/stilearn-metro/js/jquery.min.js"></script>
        <script type="text/javascript" src="../CSS/stilearn-metro/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../CSS/stilearn-metro/js/jquery.ui.touch-punch.min.js"></script>
        <script type="text/javascript" src="../CSS/stilearn-metro/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../CSS/stilearn-metro/js/m-scrollbar/jquery.mCustomScrollbar.min.js"></script>
        
        <!-- apps component js, optional -->
        <script type="text/javascript" src="../CSS/stilearn-metro/js/morrisjs/raphael-min.js"></script>
        <script type="text/javascript" src="../CSS/stilearn-metro/js/morrisjs/morris.min.js"></script>
        <script type="text/javascript" src="../CSS/stilearn-metro/js/daterangepicker/moment.min.js"></script>
        <script type="text/javascript" src="../CSS/stilearn-metro/js/select2/select2.min.js"></script>
        <script type="text/javascript" src="../CSS/stilearn-metro/js/wysihtml5/wysihtml5-0.3.0.min.js"></script>
        <script type="text/javascript" src="../CSS/stilearn-metro/js/wysihtml5/bootstrap-wysihtml5.js"></script>
        <script type="text/javascript" src="../CSS/stilearn-metro/js/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="../CSS/stilearn-metro/js/jquery.equalHeight.js"></script>
        
        <!-- metro js, required! -->
        <script type="text/javascript" src="../CSS/stilearn-metro/js/metro-base.js"></script>
        
        <!-- demo js -->
        <script type="text/javascript" src="../CSS/stilearn-metro/js/holder/holder.js"></script>
        <script type="text/javascript" src="../CSS/stilearn-metro/js/demo/dashboard.js"></script>