<?xml version='1.0' encoding='utf-8'?>
<widget
    id="com.jcef-shanghai.app"
    version="1.0.1"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0">
    <name>JCEF Shanghai</name>
    <description>
        Application officielle de la JCEF. Participez aux évènements
    </description>
    <author email="contact@jcef-shanghai.com" href="http://www.jcef-shanghai.com">
        JCEF Team
    </author>
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />    
    <preference name="orienation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <icon src="icon.png" />
    <icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    <gap:splash src="splash/ios/Default.png"                 gap:platform="ios" width="320"  height="480"  />
    <gap:splash src="splash/ios/Default_at_2x.png"           gap:platform="ios" width="640"  height="960"  />
    <gap:splash src="splash/ios/Default_iphone5.png"         gap:platform="ios" width="640"  height="1136" />
    <gap:splash src="splash/ios/Default-Landscape.png"       gap:platform="ios" width="1024" height="748"  />
    <gap:splash src="splash/ios/Default-Portrait.png"        gap:platform="ios" width="768"  height="1004" />
    <!-- retina iPad -->
    <gap:splash src="splash/ios/Default-Landscape_at_2x.png" gap:platform="ios" width="2048" height="1496" />
    <gap:splash src="splash/ios/Default-Portrait_at_2x.png"  gap:platform="ios" width="1536" height="2008" />
    <icon gap:density="ldpi" gap:platform="android" src="icons/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="icons/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="icons/android/icon-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="icons/android/icon-96-xhdpi.png" />

    <gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.2.0" />

    <content src="index.html" />
    <access origin="*" />
</widget>
